<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benny's Kitchen</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"
        integrity="sha256-AlTido85uXPlSyyaZNsjJXeCs07eSv3r43kyCVc8ChI=" crossorigin="anonymous" defer></script>
    <script src="/index.js" defer></script>
</head>

<body>
    <header>
        <div class="logo-title">
            <img src="/Chef Benny.png" alt="Chef Benny" class="site-logo">
            <h1 style="cursor: pointer;"><a href="/">Benny's Kitchen</a></h1>
            <button id="open-search-modal">Search Recipes</button>
        </div>
    </header>

    {{{body}}}
</body>

</html>